@page "/products"

@using MinimalApiArchitecture.Api

@inject Client Client


<NavLink class="btn btn-primary mb-2" href="/products/create">
    New product
</NavLink>

@if(_isBusy)
{
    <p>Cargando...</p>
}
else if(_products.Count == 0)
{
    <p>Sin datos que mostrar...</p>

}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price ($)</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var product in _products)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.Price.ToString("N2")</td>
                </tr>
            }
        </tbody>
    </table>

}

@code{
    bool _isBusy = true;

    ICollection<GetProductsResponse> _products =
        new List<GetProductsResponse>();

    protected override async Task OnInitializedAsync()
    {
        _products = await Client.GetProductsAsync();

        _isBusy = false;
    }
}